{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}

<div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="element-title align-center" style="min-height:250px; margin-top:100px; font-size: 50px !important;">
                
                <button type="button" class="btn btn-danger btn-lg btn-block" style="scale:2.5">You do not have permission to view this page!!!</button>
                
            </div>
        </div>
</div>

<!-- Main Section Start -->

<!-- Main Section End -->


{% endblock %}

